body {
    background-image: url('images/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}
#yours {
    color: white;
    font-weight: bold;
    float: left;
    width: 18%;
}
#computers {
    color: white;
    font-weight: bold;
    float: right;
    padding-right: 50px;
}

.buttons{
    position: relative;
    top: 90px;
    width: 50%;
    margin-left: 30%;
    margin-right: 30%
}

.buttons #scissor{
    width: 100px;
    height: 100px;
    background-color: white;

    background-size: 100%; 
    background-image: url('images/scissors.svg');
    background-repeat: no-repeat;
}
.buttons #rock{
    width: 100px;
    height: 100px;
    background-color: white;

    background-size: 100%; 
    background-image: url("images/rock.png");
    background-repeat: no-repeat;
}

.buttons #paper{
    width: 100px;
    height: 100px;
    background-color: white;

    background-size: 100%; 
    background-image: url("images/paper.svg");
    background-repeat: no-repeat;
}

.buttons #lizard{
    width: 100px;
    background-color: white;

    height: 100px;
    background-size: 100%; 
    background-image: url("images/lizard.png");
    background-repeat: no-repeat;

}
.buttons #spock{
    background-color: white;

    width: 100px;
    height: 100px;
    background-size: 100%; 
    background-image: url("images/spock.png");
    background-repeat: no-repeat;

}
#scissor:hover{
    background-color: white;
    transform:scale(1.3,1.3);
}
#rock:hover{
    background-color: white;
    transform:scale(1.3,1.3);
}
#paper:hover{
    background-color: white;
    transform:scale(1.3,1.3);
}
#lizard:hover{
    background-color: white;
    transform:scale(1.3,1.3);
}
#spock:hover{
    transform:scale(1.3,1.3);
}

.Choices{   
    margin: auto;
    max-width:  600px;
    color:white;
    border-style: solid;
    border-color: #77fff4;
    box-shadow: 3px 3px #555;
    position: relative;
    top: 110px;
    background-color: rgb(95, 7, 95);
    text-align: center;
    padding: 20px;
    border-radius: 20px;
}
#counter{   
    margin: auto;
    max-width: 400px;
    position: relative;
    top: 100px;
    border-style: solid;
    border-color: #77fff4;
    box-shadow: 5px 5px #555;
    color:white;
    background-color: rgb(95, 7, 95);
    text-align: center;
    border-radius: 20px;
    padding: 10px;
}
.aim{   
    margin: auto;
    max-width: 400px;
    position: relative;
    top: 0px;
    border-style: solid;
    border-color: #77fff4;
    box-shadow: 3px 3px #555;

    color:white;
    background-color: rgb(95, 7, 95);
    text-align: center;
    border-radius: 20px;
    padding: 10px;
}


.footer {
    position: fixed;
    left: 15px;
    bottom: 0;
    color: white;
    font-weight: bold;
    float: left;
    width: 18%;
  }
  /* visited link */
a:visited {
    color: white;
  }